<h2>Get file size</h2>
<form id="upload-widget" method="post" action="/api/fileanalyse" class="dropzone">
  <div class="fallback">
    <input name="file" type="file" />
  </div>
</form>
<script type="text/javascript" src="dropzone/dist/dropzone.js"></script>