<html>
    <head>
        <title>File metadata Microservice</title>
        <link rel="stylesheet" href="dropzone/dist/dropzone.css">
    </head>
    <body>
        <h1>File metadata Microservice</h1>
        <p>Drag and drop a file below and hover over it to see its size.</p>
        {{{body}}}
    </body>
</html>